.complaint-list {
    margin-right: 25px;
    width: 71%;
    float: right;
    padding: 20px;
}

.wrapper-complaint-list table {
    border-collapse: collapse;
    margin: 20px;
    width: 100%;
}

.wrapper-complaint-list th, td {
    text-align: left;
    padding: 8px;
}

.wrapper-complaint-list tr:nth-child(even){background-color: #f2f2f2
}

.wrapper-complaint-list tr:nth-child(odd){background-color: #179c2e
}

.wrapper-complaint-list th {
    background-color: #4CAF50;
    color: white;
}